
header {
  background-color: #00FFCC;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  border-bottom: 7px solid yellow;
}

footer {
  background-color:  #00FFCC;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  border-bottom: 7px;
  border-top: 7px solid yellow;
}


table th {
  background-color: #66FF66;
  padding: 15px 20px;
}

table td {
  background-color: #66FFCC;
  padding: 15px 20px;
  text-align: center;
}

.notice {
  background-color: #FFCC00;
  padding: 5px;
}
